@charset "UTF-8";

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#container{
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgb(127,0,255);
	background: linear-gradient(262deg, rgba(127,0,255,14.889705882352944) 0%, rgba(225,0,225,0.141688172717037) 100%);
}

#page{
	width: 300px;
	background-color: white;
	box-shadow: 0 0 10px #ccc;
	border-radius: 15px;
	padding: 50px 25px;
	position: relative;
}

#page h1{
	text-align: center;
	
}

#login_email,#login_password,#username,#email,#phone,#password{
	border: none;
	outline: none;
	border-bottom: 1px solid #ccc;
	width: 100%;
	padding: 10px;
	margin-top: 20px;
	padding-left: 3px;
	color: #727272;
}

#login_frm{
	margin-top: 30px;
}

#signup_frm{
	margin-top: 10px;
	position: relative;
}

#login_btn,#signup_btn{
	width: 100%;
	padding: 10px;
	border: none;
	font-size: 16px;
	background: linear-gradient(to right,#E100Ff,#7F00Ff);
	color: white;
	outline: none;
	cursor: pointer;
	margin-top: 30px;
}


#login p,#signup p{
	font-size: 14px;
	margin-top: 20px;
	text-align: center;
}

#signup_link{
	color: blue;
	cursor: pointer;
}

#login_link{
	color: blue;
	cursor: pointer;
}

#signup{
	display: none;
	
}

#email_notice,#login_email_warning,#login_password_warning{
	display: none;
	color: red;
	margin-top: 3px
	
}


#login_notice{
	height: 30px;
	width: 100%;
	border: none;
	background-color: rgba(255,128,128,0.4);
	display: none;
	justify-content: center;
	align-items: center;
	margin-top: 10px;
	box-shadow: 0 0 10px #ccc;
}
#login_notice h4{
	font-size: 14px;
	font-weight: normal;
}

#login_link_text{
	color: black;
}


#weak_pass{
	color: red;
	display: none;
}

#strong_pass{
	color: green;
	display: none;
}

#good_pass{
	color: #FF9212;
	display: none;
}

/*#psw{
    height: 20px;
    width: 20px;
    border: 1px solid black;
    display : inline-block;
    position: absolute;
    left: 223px;
    border-radius: 50%;
    top: 190px;
    cursor: pointer;
     
}

.pw{
   padding: 0;
   margin: 0;
   height: 13px;
   width:13px;
   margin-top: 3px;
   margin-left: 3px;
   border-radius: 50%;
  
}

    .pww{
      display: none;
    }
    .pwf{
      background-color: black;
    }*/

/* #password_show_icon_box{
    height: 20px;
    width: 20px;
    border: 1px solid black;
    display : inline-block;
    position: absolute;
    left: 223px;
    border-radius: 50%;
    top: 190px;
    cursor: pointer;
}

#password_show_icon{
	padding: 0;
	margin: 0;
	height: 13px;
	width:13px;
	margin-top: 3px;
	margin-left: 3px;
	border-radius: 50%;
	background-color: black;
}

#password_hide_icon{
	padding: 0;
	margin: 0;
	height: 13px;
	width:13px;
	margin-top: 3px;
	margin-left: 3px;
	border-radius: 50%;
	background-color: black;
	display: none;
}
 */

#radio_btn{
	width: 20px;
	height: 20px;
	position: absolute;
	left: 223px;
	top: 190px;
	z-index: 10000;
}

#login_radio_btn{
	width: 20px;
	height: 20px;
	position: absolute;
	left: 228px;
	top: 145px;
	z-index: 10000;
}

#circle_shape1{
	width: 20px;
	height: 20px;
	position: absolute;
	left: 228px;
	top: 145px;
	border: 1px solid #259CFF;
	border-radius: 50%;
}

#circle_shape2{
	width: 20px;
	height: 20px;
	position: absolute;
	top: 190px;
	left: 223px;
	border: 1px solid #259CFF;
	border-radius: 50%;
	
}


#eye_show_icon{
	position: absolute;
	left: 250px;
	top: 200px;
}

#eye_hide_icon{
	position: absolute;
	left: 250px;
	top: 200px;
	display: none;
}

#signup_eye_show_icon{
	position: absolute;
	left: 223px;
	top: 194px;
	
}

#signup_eye_hide_icon{
	position: absolute;
	top: 194px;
	left: 223px;
	display: none;
  }

